.search-container {
    display: flex;
    width: 100%;
}

.search-container input[type=text] {
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #1a1a1a;
    color: #ffffff;
    width: 100%;
    flex-grow: 1;
}

.search-button {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 4px;
    border: 1px solid #007bff;
    background-color: #3366cc;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.error {
    color: #ff0000;
    font-family: 'Arial', sans-serif;
}
.hint {
    color: #999999;
    font-family: 'Arial', sans-serif;
}

